    name: Build (Docker)

    on:
    workflow_run:
        workflows: ["CI"]
        types: [completed]

    jobs:
    build:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
            uses: actions/checkout@v4

        - name: Build Docker image
            run: |
            docker build -t capstone:${{ github.sha }} .
            docker tag capstone:${{ github.sha }} capstone:latest

        - name: Save image reference
            run: |
            echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV